@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500, 600, 700, 800,900&display=swap");
*
{
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}
body
{
  min-height: 100vh; 
  background: linear-gradient(#868ce2,#19294f)
}
header
{
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header •logo
{
  color: #bc82ee;
  font-weight: 700; 
  text-decoration: none; 
  font-size: 2em;
  text-transform: uppercase; 
  Letter-spacing: 2px;
}
  header ul
{
  display: flex;
  justify-content: center; 
  align-items: center;
} 
header ul li
{
  List-style: none;
  margin-Left: 20px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px; 
  color: #fcfcfc;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active 
{
  background: #f3f2f4;
  color: #19294f
} 
section
{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.dropdown button{
  display: inline-block;
}
.dropdown button{
  background-color: #fcfcfc(0, 0%, 80%); 
  color:white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown a{ 
  display: block; 
  color: rgb(252, 249, 249);
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content{ 
  display: none;
  position: absolute; 
  background-color:   rgb(48, 23, 159);
  min-width:  100px;
  box-shadow: 2px 2px 5px rgb(29, 26, 26);
}
.dropdown:hover .content{
   display: block;
}
.dropdown:hover button{
    background: #19294f (0, 0%, 70%);
    color: #f3f2f4
}
.dropdown a:hover{
  background-color: #9494ed;
}